/* Cascada ???? ->  */
* {
    box-sizing: border-box;
}
body {
    margin : 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 5px #333;
}

header h1{
    margin:0px;
    margin-left: 1rem;
}

header nav ul{
    display:flex;
    list-style: none;
    padding:0px;
    margin:0px;
}

header nav ul li a {
    display:inline-block;
    color:white;
    text-decoration: none;
    padding: 0.75rem 0.8rem;
    transition: background-color 1s ease, color 1s ease;
}
header nav ul li a:hover{
    color:#333;
    background-color: #fff;
}
/*
0-719px mobile
720 - 1023 tablet
1024 - 1300 escritorio
1301 - wide screen
*/
main {
    background-color: aqua;
}

@media (min-width:720px) {
    main {
        background-color: cadetblue;
    }
}

@media (min-width:1024px) {
    main {
        background-color: #c65555;
    }
}

@media (min-width: 1301px) {
    main {
        background-color: #6a9b6a;
    }
}

.active {
    background-color: #fff;
    color:#000;
}

.hero-panel {
    position:relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.hero-panel img{
    width:100%;
    height:60vh;
    object-fit: cover;
    object-position: center center;
}

.hero-panel div {
    position: absolute;
    top: 25%;
    left: 75%;
    background-color: white;
    padding: 1rem;
    transform: translateX(-50%) translateY(-50%);
    border: 2px solid #000;
    width: 200px;
    margin: 1rem;
}

.container {
    max-width: 1024px;
    margin: 1rem auto;
    padding:0.5rem 1rem;
}


/*
    Problema -> trouble -> trbl

    top, right, bottom, left

    Ooh oh, you're in trouble ....
*/